{% extends "templates/layout/base.html" %}
{% block metaTitle %}{% if citypage_content %}{% for content in citypage_content %}{% if content.name == 'citypage_meta_title' %}{{ content.contents }}{% endif %}{% endfor %}{% endif %}{% endblock %}
{% block metaDescription %}{% if citypage_content %}{% for content in citypage_content %}{% if content.name == 'citypage_meta_description' %}{{ content.contents }}{% endif %}{% endfor %}{% endif %}{% endblock %}
{% block metaKeywords %}{% if citypage_content %}{% for content in citypage_content %}{% if content.name == 'citypage_meta_keywords' %}{{ content.contents }}{% endif %}{% endfor %}{% endif %}{% endblock %}
{% block content %}
{% load staticfiles %}

{% include 'templates/layout/header.html' %}
    <div class="bgImage bg-deskImg padding-TB-50 cityTitle">
        <div class="container">
            <div class="row textWhite">
                <div class="col-lg-10 col-md-10">
                    <div class="small-title">
                        <h4>Do You Have Questions?</h4>
                        <p>
                            Our automotive experts are personally available from
                        </p>
                    </div>

                <div class="d-none d-sm-block">

                    <div class="listDate">
                        <div class="item">
                                <i class="far fa-calendar-alt"></i>
                            <span>
                                Monday to Friday
                            </span>
                        </div>
                        <div class="item">
                            <span>
                                Saturday
                            </span>
                        </div>
                        <div class="item">
                            <span>
                                Sunday
                            </span>
                        </div>
                    </div>

                    <div class="listDate">
                        <div class="item">
                                <i class="far fa-clock"></i>
                               08:00 AM to 09:00 PM
                            </span>
                        </div>
                        <div class="item">
                            <span>
                                09:00 AM to 06:00 PM
                            </span>
                        </div>
                        <div class="item">
                            <span>
                               10:30 AM  to 6:30 PM
                            </span>
                        </div>
                    </div>

                </div>


                <div class="d-block d-sm-none">

                    <div class="listDate">
                        <div class="item">

                            <span>
                                Monday to Friday
                            </span>
                            <span>
                                08:00 AM to 09:00 PM
                            </span>
                        </div>
                        <div class="item">
                            <span>
                                Saturday
                            </span>

                            <span>
                                09:00 AM to 06:00 PM
                            </span>
                        </div>
                        <div class="item">
                            <span>
                                Sunday
                            </span>
                            <span>
                                10:30 AM  to 6:30 PM
                             </span>
                        </div>
                    </div>


                </div>

                </div>
                <div class="col-lg-2 col-md-2 align-items-center justify-content-center d-flex">
                    <div class="callIcon text-center">
                            <i class="fas fa-phone"></i>
                            <h4>
                                    Our Hotline
                            </h4>
                            <p> 0800 000 8293 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="padding-TB-75  cityForm">
    <div class="formBox">
        <div class="container">
            <div class="row">
                <div class="col-12 formtitle">
                    <h3> <strong> Lorem Ipsum is simply dummy text </strong></h3>
                </div>
            </div>
            <form action="/step_two" id="stepOne" method="post">
            {% csrf_token %}
            <input type="hidden" name="car_brand_name" value="" />
            <input type="hidden" name="car_model_name" value="" />
            <input type="hidden" name="car_year_name" value="" />
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Marke</label>
                        <select class="form-control car-brand" name="car_brand"
                            id="car-brand"
                            onchange="getCarModels(this.value)"
                        >
                            <option>Select Car Brand</option>
                            {% if car_brands %}
                                {% for car_brand in car_brands %}
                                    <option value="{{ car_brand.id }}">{{ car_brand.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Modell</label>
                            <select class="form-control car-model"
                                    name="car_model"
                                    onchange="getCarYears(this)"
                                    id="exampleFormControlSelect1"
                                    disabled="disabled">
                                <option>Modell auswählen</option>
                            </select>
                        </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Erstzulassung</label>
                        <select class="form-control car-year"
                            id="exampleFormControlSelect1"
                            disabled="disabled"
                            name="car_year"
                        >
                            <option value="">Erstzulassung auswählen</option>
                        </select>
                    </div>
                </div>
            </div>
            </form>
        </div>

        <div class="container-fluid padding-T-15">
            <div class="row">
                <div class="col-lg-4">
                    <div class="imgBox">
                        <img src={% static 'frontend/img/red-car-4.png' %} alt="png">
                    </div>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary"
                                onclick="getValidate(event)">{% if citypage_content %}{% for content in citypage_content %}{% if content.name == 'citypage_contact_button' %}{{ content.contents }}{% endif %}{% endfor %}{% endif %}</button>
                </div>
                <div class="col-lg-4 d-flex align-items-center">
                    <div class="imgBox">
                        <img src={% static 'frontend/img/red-car-5.png' %} alt="png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="mapsection">
        <div class="map-title text-center">
            <h2>The number 1 car purchase in Stuttgart</h2>
        </div>
        <div id="cityMap">

        </div>
    </div>


    <div class="padding-TB-30 textLeftRight">
        <div class="container">

            <div class="row padding-TB-30">
                <div class="col-md-6">
                    <div class="imgBox">
                        <img src={% static 'frontend/img/carsbig.png' %} alt="cars">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="textBox">
                        <h3>
                                Lorem Ipsum is simply dummy text
                        </h3>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                        <p>
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <div class="cityRoadImage bgImage padding-TB-75">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="textWhite">
                        <h3>More branches near you</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="textWhite listWrap">
                        <ul class="list-group">
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>

                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="textWhite listWrap">
                        <ul class="list-group">
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>

                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="textWhite listWrap">
                        <ul class="list-group">
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>

                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="padding-TB-75 buySection">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="big-title text-center">
                            <h2>How it works</h2>
                        </div>
                    </div>
                </div>


                <div class="row text-center howitWork">
                    <div class="col-sm-4 col-xs-12">
                        <div class="box bg-black">
                            <img src={% static 'frontend/img/icon-13.png' %} alt="">
                            <h3> Report </h3>
                            <p>It is a long established fact that a reader will be distracted by the retadable content of a page when looking at its layout.
                               </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="box bg-black">
                            <img src={% static 'frontend/img/icon-14.png' %}
                                         alt="">
                            <h3> Payment </h3>
                            <p>It is a long established fact that a reader will be distracted by the retadable content of a page when looking at its layout.
                                      </p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="box bg-black">
                            <img src={% static 'frontend/img/icon-15.png' %}
                                         alt="">
                            <h3> Unsubscribe </h3>
                            <p>It is a long established fact that a reader will be distracted by the retadable content of a page when looking at its layout.
                                      </p>
                        </div>
                    </div>


                </div>



            </div>
        </div>


        <div class="padding-TB-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="big-title">
                            <h2>Lorem Ipsum is simply dummy text</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            </p>

                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            </p>

                            <p>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    <div class="padding-TB-0 bgImage bg-carRightGray">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="big-title">
                        <h2>Lorem Ipsum is simply dummy text</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>

                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>

                        <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-TB-10 bg-black">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="big-title textWhite">
                        <h2>Car purchase in Stuttgart with Us</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>

                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>

                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="padding-TB-50 serviceSec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="big-title text-center">
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="leftIconBox">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>

                        <div class="text">
                            <h4> Car Sales</h4>
                            <p>
                                    MotorLand is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="leftIconBox">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>

                        <div class="text">
                            <h4> Car Sales</h4>
                            <p>
                                    MotorLand is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="leftIconBox">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>

                        <div class="text">
                            <h4> Car Sales</h4>
                            <p>
                                    MotorLand is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="leftIconBox">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>

                        <div class="text">
                            <h4> Car Sales</h4>
                            <p>
                                    MotorLand is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="leftIconBox">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>

                        <div class="text">
                            <h4> Car Sales</h4>
                            <p>
                                    MotorLand is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="leftIconBox">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>

                        <div class="text">
                            <h4> Car Sales</h4>
                            <p>
                                    MotorLand is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</div>
    <div class="padding-TB-50 bgImage bg-redMultycar">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="big-title textWhite">
                        <h2>Top service when buying a car in Stuttgart</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>

                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>

                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="padding-TB-50 customersService">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="big-title">
                            <h2>How our customers rate our service</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="testimonial" class="owl-carousel">
                            <div class="item">
                                <div class="customersTestimonial">
                                    <img src={% static 'frontend/img/test.png' %} alt="">
                                    <i class="fas fa-quote-left"></i>
                                    <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                    </p>
                                    <h4>Jessica Gisela M. </h4>
                                    <h5>
                                            Mannheim
                                    </h5>
                                    <span>Dacia Sandero, 2009</span>
                                </div>
                            </div>

                            <div class="item">
                                    <div class="customersTestimonial">
                                        <img src={% static 'frontend/img/test.png' %} alt="">
                                        <i class="fas fa-quote-left"></i>
                                        <p>
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                        </p>
                                        <h4>Jessica Gisela M. </h4>
                                        <h5>
                                                Mannheim
                                        </h5>
                                        <span>Dacia Sandero, 2009</span>
                                    </div>
                                </div>


                                <div class="item">
                                        <div class="customersTestimonial">
                                            <img src={% static 'frontend/img/test.png' %} alt="">
                                            <i class="fas fa-quote-left"></i>
                                            <p>
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                            </p>
                                            <h4>Jessica Gisela M. </h4>
                                            <h5>
                                                    Mannheim
                                            </h5>
                                            <span>Dacia Sandero, 2009</span>
                                        </div>
                                    </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="padding-TB-50 bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="contact-title">
                        <h2>CONTACT US</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable
                        </p>
                    </div>
                </div>
            </div>

            <div class="row contact">
                <div class="col-12">
                    <div class="form">
                        <p class="feelfree"> FEEL FREE TO SEND US A MESSAGE </p>


                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="last Name">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="youremail">Your Email</label>
                                <input type="email" class="form-control" id="yourEmail" placeholder="Your Email">
                            </div>
                        </div>

                        <div class="form-group message">
                            <label for="yourMessage">Your Message</label>
                            <textarea class="form-control" id="yourMessage" rows="4" placeholder="Your Message"></textarea>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary">Send Message</button>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>





    <div class="bg-black footer padding-TB-30">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footBox one">
                        <img src={% static 'frontend/img/white-logo.png' %} alt="">
                        <p>
                            Duis aute irure reprehend voluptate velit ese acium fugiat nula pariatur exceptus ipsum dolor sit amet consectetur adipisic elita sed eiusmod tempor.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footBox">
                        <h4>Contact Info</h4>
                        <div class="footIconText">
                            <div class="footicon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="foottext">
                                <p>
                                    Fairview Ave, </br>
                                    El Monte,  </br>
                                    CA, 91732
                                </p>
                            </div>
                        </div>

                        <div class="footIconText">
                            <div class="footicon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="foottext">
                                <a href="">
                                    0800 000 8293
                                </a>
                            </div>
                        </div>


                        <div class="footIconText">
                            <div class="footicon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="foottext">
                                <a href="#">
                                    support@gebrauchtauto.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footBox">
                        <h4>Recent Blog</h4>

                        <div class="footblogpost">
                            <div class="postImg">
                                <img src={% static 'frontend/img/small-blog-1.png' %} alt="blog">
                            </div>
                            <div class="text">
                                <a href="#"> Blue Bottle butcher scenester</a>
                                <p class="date"> December 28, 2015 </p>
                            </div>
                        </div>

                        <div class="footblogpost">
                            <div class="postImg">
                                <img src={% static 'frontend/img/small-blog-2.png' %} alt="blog">
                            </div>
                            <div class="text">
                                <a href="#"> Blue Bottle butcher scenester</a>
                                <p class="date"> December 28, 2015 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-red text-center copyright textWhite">
        <p>Copyright 2019. All rights reserved</p>
    </div>
{% endblock %}

{% block page_script %}

    <script>
        $(document).ready(function() {

            $("#testimonial").owlCarousel({
                items : 2,
            });

            new google.maps.Map(document.getElementById('cityMap'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });

        });

        var map;
        function initialize() {
          var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(document.getElementById('cityMap'),
              mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        $(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        });

        function showPosition(position) {
            console.log(position);
            {#x.innerHTML = "Latitude: " + position.coords.latitude + #}
            {#"<br>Longitude: " + position.coords.longitude;#}
        }

        {#    var car_session_data = JSON.parse(`{{ car_session_data }}`.replace(/&#39;/g,'"'));#}
        {#console.log(car_session_data);#}
        {##}
        {#$("#car-model").val(car_session_data['car_model']);#}
        {#$("#car-brand").val(car_session_data['car_brand']);#}
        {#$("#car-year").val(car_session_data['car_year']);#}
        var getPosition = function (options) {
            return new Promise(function (resolve, reject) {
                navigator.geolocation.getCurrentPosition(resolve, reject, options);
            });
        }

        getPosition()
        .then((position) => {
            console.log(position);
        })
        .catch(async (err) => {
            var cities = JSON.parse(`{{ cities }}`.replace(/&quot;/g,'"'));
            var current_city_location = `{{ current_city_location }}`;
            console.log(current_city_location);
            if (current_city_location == 'False'){
                var _html = '<form action="/update_location_city" method="get" id="changeLocation">';
                _html += '<select name="city_id" id="cityInput">';
                _html += '<option value="">Select City</option>';
                for(i=0; i < cities.length; i++){
                    _html += '<option value="'+cities[i].id+'">'+cities[i].name+'</option>';
                }
                _html += '</select>';
                _html += '</form>';
                const {value: formValues} = await Swal.fire({
                    title: 'Enable to get your location!',
                    type: 'warning',
                    html: _html,
                    showCancelButton: true,
                    focusConfirm: false,
                    preConfirm: () => {
                        window.location.replace('/update_location_city/'+document.getElementById('cityInput').value)
                        console.log(document.getElementById('cityInput').value);
                    }
                });
            }
        });

        function getCarModels(carModelId){
            console.log(carModelId);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let carModelNode = $(".car-model");
                    var carModels = JSON.parse(this.responseText).wkda;

                    var _html = '<option value="">Modell auswählen</option>';
                    $.map(carModels, function(value, index) {
                        console.log(value, index);
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carModelNode.html(_html);
                    carModelNode.prop("disabled", false);
                }
            };
            xhttp.open("GET", "http://142.93.166.157/getModel.php?brand_id="+carModelId, true);
            xhttp.send();
        }

        function getCarYears(carYearId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var carYearNode = $(".car-year");
                    var carYears = JSON.parse(this.responseText).wkda;
                    var _html = '<option value="">Erstzulassung auswählen</option>';
                    $.map(carYears, function(value, index) {
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carYearNode.html(_html);
                    carYearNode.prop("disabled", false);
                }
            };
            var carBrandId = $(".car-brand").val();
            xhttp.open("GET", "http://142.93.166.157/getYear" +
                ".php?brand_id="+carBrandId+"&model_id="+carYearId.value, true);
            xhttp.send();
        }

        function getBrand() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                let carBrands = JSON.parse(this.responseText).wkda;
                var _html = '<option>Select Car Brand</option>';
                $.map(carBrands, function(value, index) {
                    _html += '<option value='+index+'>'+value+'</option>';
                });
                $(".car-brand").html(_html);
            }
            xhttp.open("GET", "http://142.93.166.157/getBrand.php");
            xhttp.send();
        }

        getBrand();
  </script>
{% endblock %}
{% block metaSchema %}{% if citypage_content %}{% for content in citypage_content %}{% if content.name == 'citypage_meta_schema' %}{{ content.contents }}{% endif %}{% endfor %}{% endif %}{% endblock %}