{% extends "templates/layout/base.html" %}
{% block content %}
{% load staticfiles %}

{% include 'templates/layout/header.html' %}

<div class="slide">
    <img src={% static 'frontend/img/slider-1.png' %} alt="">
    <div class="textWrap">
        {% if homepage_content %}
            {% for content in homepage_content %}
                {% if content.name == 'home_section_1' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    <button type="button" class="btn btn-primary">READ MORE</button>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1> Lorem Ipsum </h1>
            <h2>is simply dummy text</h2>
            <button type="button" class="btn btn-primary">READ MORE</button>
        {% endif %}
    </div>
</div>
<div class="bg-light-gray">
    <div class="container threeBoxWrap">
        <div class="row">
            <div class="col-12">                    
            <div class="boxWrap">
                <div class="box">
                    <img src={% static 'frontend/img/icon-1.png' %} alt="icon-1">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_2_1' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="box">
                    <img src={% static 'frontend/img/icon-2.png' %} alt="icon-1">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_2_2' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="box">
                    <img src={% static 'frontend/img/icon-3.png' %} alt="icon-1">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_2_3' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>                  
            </div>
        </div>
    </div>
</div>

<div class="bg-light-gray paddingT-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-xs-12">                    
                <div class="big-title text-center">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_2_4' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="formbg padding-TB-75 bgImage">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-10 col-xs-12">
                <form action="/step_two" id="stepOne" method="post">
                    {% csrf_token %}
                    <div class="formBox">
                        {% if homepage_content %}
                            {% for content in homepage_content %}
                                {% if content.name == 'home_section_3' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Marke</label>
                            <select class="form-control car-brand" name="car_brand"
                                    id="car-brand"
                                    onchange="getCarModels(this)"
                            >
                                <option>Select Car Brand</option>
                                {% if car_brands %}
                                    {% for car_brand in car_brands %}
                                        <option value="{{ car_brand.id }}">{{ car_brand.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Modell</label>
                            <select class="form-control car-model"
                                    name="car_model"
                                    onchange="getCarYears(this)"
                                    id="exampleFormControlSelect1"
                                    disabled="disabled">
                                <option>Modell auswählen</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Erstzulassung</label>
                            <select class="form-control car-year"
                                    id="exampleFormControlSelect1"
                                    disabled="disabled"
                                    name="car_year"
                            >
                                <option value="">Erstzulassung auswählen</option>
                            </select>
                        </div>
                    </form>
                        <button type="submit" class="btn btn-primary"
                                onclick="getValidate(event)">Jetzt
                            kostenlos bewerten</button>
                    </div>
            </div>
        </div>
    </div>      
</div>

<div class="paddingT-30">
    <div class="container">
        <div class="row">
            <div class="col-12">                    
                <div class="big-title">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_4_1' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-12">                    
                    <div class="small-title">
                        {% if homepage_content %}
                            {% for content in homepage_content %}
                                {% if content.name == 'home_section_4_2' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div>

                    <div class="inlinebtn">
                            <button type="button" class="btn btn-primary">READ MORE</button>
                            <button type="button" class="btn btn-dark">Contact Us</button>
                    </div>

                    <div class="text-center redCar">
                        <img src={% static 'frontend/img/red-car-1.png' %} alt="cars">

                    </div>


                </div>
            </div>
    </div>
</div>

<div class="padding-TB-50 bg-black buySection">
    <div class="container">
        <div class="row">
            <div class="col-12">                    
                <div class="big-title">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_1' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-4">
                <div class="box">
                    <img src={% static 'frontend/img/icon-5.png' %} alt="">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_2' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>    
            </div>                

            <div class="col-sm-4">
                <div class="box">
                    <img src={% static 'frontend/img/icon-4.png' %} alt="">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_3' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>    
            </div>                

            <div class="col-sm-4">
                <div class="box">
                    <img src={% static 'frontend/img/icon-5.png' %} alt="">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_4' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>    
            </div>    
        </div>

        <div class="row text-center">
                <div class="col-sm-4">
                    <div class="box">
                        <img src={% static 'frontend/img/icon-10.png' %} alt="">
                        {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_5' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>    
                </div>                

                <div class="col-sm-4">
                    <div class="box">
                        <img src={% static 'frontend/img/icon-16.png' %} alt="">
                        {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_7' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>    
                </div>                

                <div class="col-sm-4">
                    <div class="box">
                        <img src={% static 'frontend/img/icon-8.png' %} alt="">
                        {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_5_7' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>    
                </div>    
            </div>
            
    </div>
</div>

<div class="grayhomecar bgImage padding-TB-150">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 col-xs-12">
                        <div class="big-title">
                            {% if homepage_content %}
                                {% for content in homepage_content %}
                                    {% if content.name == 'home_section_6_1' %}
                                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="small-title">
                            {% if homepage_content %}
                                {% for content in homepage_content %}
                                    {% if content.name == 'home_section_6_2' %}
                                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>      
    </div>

<div class="padding-TB-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="big-title">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_7_1' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row blogswrap">
            <div class="col-12">
                <div id="blogpost" class="owl-carousel">
                    <div class="item">                                         
                        <img src={% static 'frontend/img/blog-1.png' %} alt="">  
                        <div class="blogText">                                
                            <div class="postby">
                                <span>Post by</span>
                                <a href="#">Thomas Neil</a>
                            </div>
                            <a class="title" href="#">Lorem Ipsum is simply dummy text of the.</a>   
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="item">                                         
                        <img src={% static 'frontend/img/blog-2.png' %} alt="">  
                        <div class="blogText">                                
                            <div class="postby">
                                <span>Post by</span>
                                <a href="#">Thomas Neil</a>
                            </div>
                            <a class="title" href="#">Lorem Ipsum is simply dummy text of the.</a>   
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="item">                                         
                        <img src={% static 'frontend/img/blog-3.png' %} alt="">  
                        <div class="blogText">                                
                            <div class="postby">
                                <span>Post by</span>
                                <a href="#">Thomas Neil</a>
                            </div>
                            <a class="title" href="#">Lorem Ipsum is simply dummy text of the.</a>   
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                            </p>
                        </div>
                    </div>

                    <div class="item">                                         
                        <img src={% static 'frontend/img/blog-1.png' %} alt="">  
                        <div class="blogText">                                
                            <div class="postby">
                                <span>Post by</span>
                                <a href="#">Thomas Neil</a>
                            </div>
                            <a class="title" href="#">Lorem Ipsum is simply dummy text of the.</a>   
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                            </p>
                        </div>
                    </div>
                    <div class="item">                                         
                        <img src={% static 'frontend/img/blog-3.png' %} alt="">  
                        <div class="blogText">                                
                            <div class="postby">
                                <span>Post by</span>
                                <a href="#">Thomas Neil</a>
                            </div>
                            <a class="title" href="#">Lorem Ipsum is simply dummy text of the.</a>   
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                            </p>
                        </div>
                    </div>

                                                        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blackfullsidecar bgImage padding-TB-75">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="whiteText">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_8_1' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="whiteText listWrap">
                    <ul class="list-group">
                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Lorem Ipsum is simply dummy text</span>
                        </li>

                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Lorem Ipsum is simply dummy text</span>
                        </li>

                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Lorem Ipsum is simply dummy text</span>
                        </li>

                        <li>
                            <i class="fas fa-check-circle"></i>
                            <span>Lorem Ipsum is simply dummy text</span>
                        </li>                                
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                    <div class="whiteText listWrap">
                        <ul class="list-group">
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>

                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>

                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>

                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>Lorem Ipsum is simply dummy text</span>
                            </li>                                
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="padding-TB-25">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="big-title">
                    {% if homepage_content %}
                        {% for content in homepage_content %}
                            {% if content.name == 'home_section_9' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding-TB-50 bg-light-gray">
    {% include 'templates/layout/contact.html' %}
</div>


    {% include 'templates/layout/footer.html' %}
</div>

{% endblock %}

{% block page_script %}
    <script>
        var car_session_data = JSON.parse(`{{ car_session_data }}`.replace
        (/&#39;/g,'"'));
        console.log(car_session_data);
        $("#car-model").val(car_session_data['car_model']);
        $("#car-brand").val(car_session_data['car_brand']);
        $("#car-year").val(car_session_data['car_year']);
        var getPosition = function (options) {
            return new Promise(function (resolve, reject) {
                navigator.geolocation.getCurrentPosition(resolve, reject, options);
            });
        }

        getPosition()
        .then((position) => {
            console.log(position);
        })
        .catch(async (err) => {
            var cities = JSON.parse(`{{ cities }}`.replace(/&quot;/g,'"'));
            var current_city_location = `{{ current_city_location }}`;
            console.log(current_city_location);
            if (current_city_location == 'False'){
                var _html = '<form action="/update_location_city" method="get" id="changeLocation">';
                _html += '<select name="city_id" id="cityInput">';
                _html += '<option value="">Select City</option>';
                for(i=0; i < cities.length; i++){
                    _html += '<option value="'+cities[i].id+'">'+cities[i].name+'</option>';
                }
                _html += '</select>';
                _html += '</form>';
                const {value: formValues} = await Swal.fire({
                    title: 'Enable to get your location!',
                    type: 'warning',
                    html: _html,
                    showCancelButton: true,
                    focusConfirm: false,
                    preConfirm: () => {
                        window.location.replace('/update_location_city/'+document.getElementById('cityInput').value)
                        console.log(document.getElementById('cityInput').value);
                    }
                });
            }
        });

        function getCarModels(carModelId){

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let carModelNode = $(".car-model");
                    var carModels = JSON.parse(this.responseText).wkda;

                    var _html = '<option value="">Modell auswählen</option>';
                    $.map(carModels, function(value, index) {
                        console.log(value, index);
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carModelNode.html(_html);
                    carModelNode.prop("disabled", false);
                }
            };
            xhttp.open("GET", "http://142.93.166.157/getModel.php?brand_id="+carModelId.value, true);
            xhttp.send();
        }

        function getCarYears(carYearId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var carYearNode = $(".car-year");
                    var carYears = JSON.parse(this.responseText).wkda;
                    var _html = '<option value="">Erstzulassung auswählen</option>';
                    $.map(carYears, function(value, index) {
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carYearNode.html(_html);
                    carYearNode.prop("disabled", false);
                }
            };
            var carBrandId = $(".car-brand").val();
            xhttp.open("GET", "http://142.93.166.157/getYear" +
                ".php?brand_id="+carBrandId+"&model_id="+carYearId.value, true);
            xhttp.send();
        }

        function getBrand() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                let carBrands = JSON.parse(this.responseText).wkda;
                var _html = '<option>Select Car Brand</option>';
                $.map(carBrands, function(value, index) {
                    _html += '<option value='+index+'>'+value+'</option>';
                });
                $(".car-brand").html(_html);
            }
            xhttp.open("GET", "http://142.93.166.157/getBrand.php");
            xhttp.send();
        }

        getBrand();

        function getValidate(e)
        {
            e.preventDefault();
            let empty = false;
            $("#stepOne select").each(function() {
               if($(this).val() === ""){
                   empty = true;
               }
            });
            if(empty){
                Swal.fire({
                  type: 'error',
                  title: 'Form error',
                  text: 'All form fields are required.',
                })
            } else {
                $("#stepOne").submit();
            }
        }
    </script>
{% endblock %}