{% extends "templates/layout/base.html" %}
{% block content %}
{% load staticfiles %}

{% include 'templates/layout/header.html' %}

<div class="padding-TB-50 stapSection">
<div class="container">
<div class="row">
    <div class="col-12">
        <ul class="progressbar">
            <li class="active"> <h4> Choose your vehicle </h4> </li>
            <li class=""> <h4> Information about  vehicle and condition </h4> </li>
            <li> <h4>Your online rating </h4> </li>
        </ul>
        <div class="small-title text-center">
            {% if steptwo_content %}
                {% for content in steptwo_content %}
                    {% if content.name == 'steptwo_section_1' %}
                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>

<form action="/step_three" method="post" id="stepTwo">
    {% csrf_token %}
    <div class="padding-TB-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-10 col-xs-12">
                        <div class="formBox textBlack">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Design</label>
                                <select class="form-control car-type"
                                        name="car_type"
                                        id="car_type"
                                        disabled="disabled"
                                        onchange="getCarBodyTypes(this)"
                                        id="exampleFormControlSelect1">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"> The Model</label>
                                <select class="form-control car-body-type"
                                    name="car_body_type"
                                    id="car_body_type"
                                    disabled="disabled"
                                    onchange="getCarSubBodyTypes(this)"
                                    id="exampleFormControlSelect1"
                                >
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Type</label>
                                <select class="form-control car-body-sub-type"
                                    name="car_body_sub_type"
                                    id="car_body_sub_type"
                                    disabled="disabled"
                                    onchange="getCarKilometer()"
                                    id="exampleFormControlSelect1"
                                >

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">kilometre</label>
                                <select class="form-control kilometer"
                                        id="exampleFormControlSelect1"
                                        disabled="disabled"
                                        name="kilometer">
                                    <option value="0">Kilometer auswählen</option>
                                    <option value="5000">Bis zu 5.000</option>
                                    <option value="10000">Bis zu 10.000</option>
                                    <option value="20000">Bis zu 20.000</option>
                                    <option value="30000">Bis zu 30.000</option>
                                    <option value="40000">Bis zu 40.000</option>
                                    <option value="60000">Bis zu 60.000</option>
                                    <option value="80000">Bis zu 80.000</option>
                                    <option value="100000">Bis zu 100.000</option>
                                    <option value="125000">Bis zu 125.000</option>
                                    <option value="150000">Bis zu 150.000</option>
                                    <option value="175000">Bis zu 175.000</option>
                                    <option value="200000">Bis zu 200.000</option>
                                    <option value="225000">Bis zu 225.000</option>
                                    <option value="250000">Bis zu 250.000</option>
                                    <option value="275000">Bis zu 275.000</option>
                                    <option value="300000">Bis zu 300.000</option>
                                    <option value="350000">Mehr als 300.000</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">E-mail address</label>
                                <input type="email" name="user_email"
                                       class="form-control"
                                       placeholder="E-mail address"/>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 col-sm-10 col-xs-12">
                    <div class="formBox textBlack">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">
                                Vehical Type</label>
                            <select class="form-control"
                                    name="vehicle_type"
                                    id="exampleFormControlSelect1">
                                <option>Select Vehicle Type</option>
                                <option value="kein_unfallwagen">Kein Unfallwagen</option>
                                <option value="unfallwagen">Unfallwagen</option>
                                <option value="motorschaden">Motorschaden</option>
                                <option value="getriebeschaden">Getriebeschaden</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"
                            >Message</label>
                            <textarea class="form-control" name="user_message" id=""
                                      cols="30" rows="9"></textarea>
                        </div>
                    </form>

                        <button type="submit" class="btn btn-primary"
                                onclick="getValidate(event)">Jetzt
                            kostenlos
                            bewerten</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

<div class="padding-TB-75 bg-black fourBoxSection">
<div class="container leftIcon">

<div class="row text-center">
    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_1' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_2' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_3' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_4' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


</div>



</div>
</div>

<div class="padding-TB-20 bgImage bg-redcarhalf">
<div class="container">

<div class="row">
    <div class="col-lg-7 col-md-10 col-12">
        <div class="big-title">
            {% if steptwo_content %}
                {% for content in steptwo_content %}
                    {% if content.name == 'steptwo_section_3_1' %}
                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>



<div class="container">
<div class="row">
    <div class="col-12">
        <div class="big-title paddingT-0">
            {% if steptwo_content %}
                {% for content in steptwo_content %}
                    {% if content.name == 'steptwo_section_3_2' %}
                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>








<div class="bg-multycar bgImage padding-TB-50 textWhite">
<div class="container">
<div class="row">
<div class="col-lg-10 col-md-8">
    <div class="callOut">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_4' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="col-lg-2 col-md-4 align-items-center d-flex justify-content-center">
        <button type="button" class="btn btn-primary"> contact Us </button>
</div>
</div>
</div>
</div>



<div class="padding-TB-10 bgImage bg-redCarxuv">
<div class="container">

<div class="row">
<div class="col-lg-6 col-md-12 col-12">
    <div class="big-title">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_5_1' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
</div>


<div class="padding-TB-10 bgImage bg-grayhalfxuv">
<div class="container">

<div class="row justify-content-end">
<div class="col-lg-6 col-md-12 col-12">
    <div class="big-title">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_5_2' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
</div>

<div class="paddingB-50">
<div class="container">

<div class="row">
<div class="col-md-12 col-sm-10 col-xs-12">
    <div class="big-title paddingT-0">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_5_3' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary"> Rate now for free </button>
    </div>
</div>
</div>
</div>
</div>

<div class="padding-TB-75">
<div class="container">
<div class="row">
<div class="col-md-6">
    <div class="big-title paddingT-0">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_6_1' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Do you charge a fee if I do not sell my car to you?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        No! The on-site evaluation service is always free & no risk to you, whether you sell or not.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How is the rating of my car performed on the website?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How can I sell my car after the online evaluation?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson \
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="batchSection">
        <img src="{% static 'frontend/img/batch.png' %}" alt="">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_6_2' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
</div>



<div class="padding-TB-50 bg-blueCar bgImage testimonialsWrap">
<div class="container">
<div class="row text-center">
    <div class="col-12">
        <div class="big-title">
            {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_7' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="testimonial" class="owl-carousel">
            <div class="item">
                <div class="blogTestimonial">
                    <img src="{% static 'frontend/img/test.png' %}"
                         alt="">
                    <h4>jems lima</h4>
                    <h5>
                        Lorem Ipsum is simply dummy text of the.
                    </h5>
                    <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="blogTestimonial">
                    <img src="{% static 'frontend/img/test.png' %}" alt="">
                    <h4>jems lima</h4>
                    <h5>
                        Lorem Ipsum is simply dummy text of the.
                    </h5>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                    </p>
                </div>
            </div>

            <div class="item">
                    <div class="blogTestimonial">
                        <img src="{% static 'frontend/img/test.png' %}" alt="">
                        <h4>jems lima</h4>
                        <h5>
                            Lorem Ipsum is simply dummy text of the.
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="blogTestimonial">
                        <img src="{% static 'frontend/img/test.png' %}" alt="">
                        <h4>jems lima</h4>
                        <h5>
                            Lorem Ipsum is simply dummy text of the.
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                        </p>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>
</div>


    {% include 'templates/layout/footer.html' %}

{% endblock %}

{% block page_script %}
    <script>
        var car_data = JSON.parse(`{{ car_data }}`.replace(/&#39;/g,'"'));
        $(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        });

        function showPosition(position) {
            console.log(position);
            {#x.innerHTML = "Latitude: " + position.coords.latitude + #}
            {#"<br>Longitude: " + position.coords.longitude;#}
        }

        function getCarModels(carModelId){
            console.log(carModelId.value);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(JSON.parse(this.responseText)));
                }
            };
            xhttp.open("GET", "/get_car_models/"+carModelId.value, true);
            xhttp.send();
        }

        function getCarType() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var carTypeNode = $(".car-type");
                    var carType = JSON.parse(this.responseText).wkda;
                    console.log(carType);
                    var _html = '<option value="">Bauform auswählen</option>';
                    $.map(carType, function(value, index) {
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carTypeNode.html(_html);
                    carTypeNode.prop("disabled", false);
                }
            };

            xhttp.open("GET", "http://142.93.166.157/getType" +
                ".php?brand_id="+car_data['car_brand']+"&model_id="+car_data['car_model']+"&year_id="+car_data['car_year'],
                true);
            xhttp.send();
        }

        function getCarBodyTypes(typeId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var carBodyTypeNode = $(".car-body-type");
                    var carBodyType = JSON.parse(this.responseText).wkda;
                    console.log(carBodyType);
                    var _html = '<option value="">Typ auswählen</option>';
                    $.map(carBodyType, function(value, index) {
                        console.log(index);
                        _html += '<option value='+encodeURIComponent(index)+'>'+value+'</option>';
                    });
                    carBodyTypeNode.html(_html);
                    carBodyTypeNode.prop("disabled", false);
                }
            };

            xhttp.open("GET", "http://142.93.166.157/getBodyType" +
                ".php?brand_id="+car_data['car_brand']+"&model_id="+car_data['car_model']+"&year_id="+car_data['car_year']+"&type_id="+typeId.value,
                true);
            xhttp.send();
        }

        function getCarSubBodyTypes(typeSubId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var carBodySubTypeNode = $(".car-body-sub-type");
                    var carBodySubType = JSON.parse(this.responseText).wkda;
                    console.log(carBodySubType);
                    var _html = '<option value="">Typ auswählen</option>';
                    $.map(carBodySubType, function(value, index) {
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carBodySubTypeNode.html(_html);
                    carBodySubTypeNode.prop("disabled", false);
                }
            };
            var carTypeId = $(".car-type").val();
            xhttp.open("GET", "http://142.93.166.157/getBodySubType" +
                ".php?brand_id="+car_data['car_brand']+"&model_id="+car_data['car_model']+"&year_id="+car_data['car_year']+"&type_id="+encodeURIComponent(carTypeId)+"&body_type_id="+typeSubId.value,
                true);
            xhttp.send();
        }

        function getCarKilometer(){
            $(".kilometer").prop("disabled", false);
        }

        getCarType();

        $(document).ready(function() {

            $("#testimonial").owlCarousel({
                items : 2,
            });
        });

        function getValidate(e)
        {
            e.preventDefault();
            console.log('call test');
            let empty = false;
            $("#stepTwo select, #stepTwo input, #stepTwo textarea").each(function() {
               if($(this).val() === ""){
                   empty = true;
               }
            });
            if(empty){
                Swal.fire({
                  type: 'error',
                  title: 'Form error',
                  text: 'All form fields are required.',
                })
            } else {
                $("#stepTwo").submit();
            }
        }
    </script>
{% endblock %}