{% extends "templates/layout/base.html" %}
{% block content %}
{% load staticfiles %}

{% include 'templates/layout/header.html' %}

<div class="padding-TB-50 stapSection">
<div class="container">
<div class="row">
    <div class="col-12">
        <ul class="progressbar">
            <li class="active"> <h4> Choose your vehicle </h4> </li>
            <li class=""> <h4> Information about  vehicle and condition </h4> </li>
            <li> <h4>Your online rating </h4> </li>
        </ul>
        <div class="small-title text-center">
            {% if steptwo_content %}
                {% for content in steptwo_content %}
                    {% if content.name == 'steptwo_section_1' %}
                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>

<form action="/step_three" method="post">
    {% csrf_token %}
    <div class="padding-TB-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-10 col-xs-12">
                        <div class="formBox textBlack">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Design</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Alpina</option>
                                    <option>Alpina2</option>
                                    <option>Alpina3</option>
                                    <option>Alpina4</option>
                                    <option>Alpina5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"> The Model</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Modell 1</option>
                                    <option>Modell 2</option>
                                    <option>Modell 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Type</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Erstzulassung 1</option>
                                    <option>Erstzulassung 2</option>
                                    <option>Erstzulassung 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">kilometre</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Erstzulassung 1</option>
                                    <option>Erstzulassung 2</option>
                                    <option>Erstzulassung 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">E-mail address</label>
                                <input type="text" class="form-control" placeholder="E-mail address"/>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 col-sm-10 col-xs-12">
                    <div class="formBox textBlack">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1"> lable Here</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Unfallwagen </option>
                                <option>Unfallwagen </option>
                                <option>Unfallwagen </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Message</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="9"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Jetzt kostenlos
                            bewerten</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<div class="padding-TB-75 bg-black fourBoxSection">
<div class="container leftIcon">

<div class="row text-center">
    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_1' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_2' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_3' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="box">
            <img src="{% static 'frontend/img/thumb.png' %}" alt="">
            <div class="textBox">
                {% if steptwo_content %}
                    {% for content in steptwo_content %}
                        {% if content.name == 'steptwo_section_2_4' %}
                            {% autoescape off %}{{ content.contents }}{% endautoescape %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


</div>



</div>
</div>

<div class="padding-TB-20 bgImage bg-redcarhalf">
<div class="container">

<div class="row">
    <div class="col-lg-7 col-md-10 col-12">
        <div class="big-title">
            {% if steptwo_content %}
                {% for content in steptwo_content %}
                    {% if content.name == 'steptwo_section_3_1' %}
                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>



<div class="container">
<div class="row">
    <div class="col-12">
        <div class="big-title paddingT-0">
            {% if steptwo_content %}
                {% for content in steptwo_content %}
                    {% if content.name == 'steptwo_section_3_2' %}
                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>








<div class="bg-multycar bgImage padding-TB-50 textWhite">
<div class="container">
<div class="row">
<div class="col-lg-10 col-md-8">
    <div class="callOut">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_4' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="col-lg-2 col-md-4 align-items-center d-flex justify-content-center">
        <button type="button" class="btn btn-primary"> contact Us </button>
</div>
</div>
</div>
</div>



<div class="padding-TB-10 bgImage bg-redCarxuv">
<div class="container">

<div class="row">
<div class="col-lg-6 col-md-12 col-12">
    <div class="big-title">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_5_1' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
</div>


<div class="padding-TB-10 bgImage bg-grayhalfxuv">
<div class="container">

<div class="row justify-content-end">
<div class="col-lg-6 col-md-12 col-12">
    <div class="big-title">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_5_2' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
</div>

<div class="paddingB-50">
<div class="container">

<div class="row">
<div class="col-md-12 col-sm-10 col-xs-12">
    <div class="big-title paddingT-0">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_5_3' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary"> Rate now for free </button>
    </div>
</div>
</div>
</div>
</div>

<div class="padding-TB-75">
<div class="container">
<div class="row">
<div class="col-md-6">
    <div class="big-title paddingT-0">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_6_1' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Do you charge a fee if I do not sell my car to you?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        No! The on-site evaluation service is always free & no risk to you, whether you sell or not.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How is the rating of my car performed on the website?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How can I sell my car after the online evaluation?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson \
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="batchSection">
        <img src="{% static 'frontend/img/batch.png' %}" alt="">
        {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_6_2' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
</div>



<div class="padding-TB-50 bg-blueCar bgImage testimonialsWrap">
<div class="container">
<div class="row text-center">
    <div class="col-12">
        <div class="big-title">
            {% if steptwo_content %}
            {% for content in steptwo_content %}
                {% if content.name == 'steptwo_section_7' %}
                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="testimonial" class="owl-carousel">
            <div class="item">
                <div class="blogTestimonial">
                    <img src="{% static 'frontend/img/test.png' %}"
                         alt="">
                    <h4>jems lima</h4>
                    <h5>
                        Lorem Ipsum is simply dummy text of the.
                    </h5>
                    <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                    </p>
                </div>
            </div>

            <div class="item">
                <div class="blogTestimonial">
                    <img src="{% static 'frontend/img/test.png' %}" alt="">
                    <h4>jems lima</h4>
                    <h5>
                        Lorem Ipsum is simply dummy text of the.
                    </h5>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                    </p>
                </div>
            </div>

            <div class="item">
                    <div class="blogTestimonial">
                        <img src="{% static 'frontend/img/test.png' %}" alt="">
                        <h4>jems lima</h4>
                        <h5>
                            Lorem Ipsum is simply dummy text of the.
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="blogTestimonial">
                        <img src="{% static 'frontend/img/test.png' %}" alt="">
                        <h4>jems lima</h4>
                        <h5>
                            Lorem Ipsum is simply dummy text of the.
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                        </p>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>
</div>


    {% include 'templates/layout/footer.html' %}

{% endblock %}

{% block page_script %}
    <script>
        $(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        });

        function showPosition(position) {
            console.log(position);
            {#x.innerHTML = "Latitude: " + position.coords.latitude + #}
            {#"<br>Longitude: " + position.coords.longitude;#}
        }

        function getCarModels(carModelId){
            console.log(carModelId.value);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(JSON.parse(this.responseText)));
                }
            };
            xhttp.open("GET", "/get_car_models/"+carModelId.value, true);
            xhttp.send();
        }

        $(document).ready(function() {

            $("#testimonial").owlCarousel({
                items : 2,
            });
        });
    </script>
{% endblock %}