{% extends "templates/layout/base.html" %}
{% block metaDescription %}{% if stepone_content %}{% for content in stepone_content %}{% if content.name == 'stepone_meta_description' %}{% autoescape off %}{{ content.contents }}{% endautoescape %}{% endif %}{% endfor %}{% endif %}{% endblock %}
{% block content %}
{% load staticfiles %}

{% include 'templates/layout/header.html' %}

<div class="padding-TB-50 stapSection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="progressbar">
                    <li class=""> <h4> Choose your vehicle </h4> </li>
                    <li class=""> <h4> Information about  vehicle and condition </h4> </li>
                    <li> <h4>Your online rating </h4> </li>
                </ul>
                <div class="small-title text-center">
                    {% if stepone_content %}
                        {% for content in stepone_content %}
                            {% if content.name == 'stepone_section_1' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stepOneSection  bgImage bg-graystep1car">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-xs-12">
                <form action="/step_two" method="post">
                    {% csrf_token %}
                    <div class="formBox textBlack">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Brand</label>
                            <select class="form-control car-brand" name="car_brand"
                                    id="car-brand"
                                    onchange="getCarModels(this)"
                            >
                                <option>Select Car Brand</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Model</label>
                            <select class="form-control car-model"
                                    name="car_model"
                                    onchange="getCarYears(this)"
                                    id="exampleFormControlSelect1"
                                    disabled="disabled">
                                <option>Modell auswählen</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Year</label>
                            <select class="form-control car-year"
                                    id="exampleFormControlSelect1"
                                    disabled="disabled"
                                    name="car_year"
                            >
                                <option value="">Erstzulassung auswählen</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Jetzt
                            kostenlos bewerten</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="padding-TB-75 bg-multycar bgImage buySection">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-6 col-xs-12">
                        <div class="box">
                            <img src={% static 'frontend/img/icon-17.png' %} alt="">
                            {% if stepone_content %}
                                {% for content in stepone_content %}
                                    {% if content.name == 'stepone_section_2_1' %}
                                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="box">
                            <img src={% static 'frontend/img/icon-17.png' %} alt="">
                            {% if stepone_content %}
                                {% for content in stepone_content %}
                                    {% if content.name == 'stepone_section_2_2' %}
                                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="padding-TB-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="big-title">
                            {% if stepone_content %}
                                {% for content in stepone_content %}
                                    {% if content.name == 'stepone_section_3' %}
                                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="bg-radMultyCar bgImage padding-TB-50 textWhite">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="big-title">
                    {% if stepone_content %}
                        {% for content in stepone_content %}
                            {% if content.name == 'stepone_section_4' %}
                                {% autoescape off %}{{ content.contents }}{% endautoescape %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="counter">
                    <img src={% static 'frontend/img/icon-9.png' %} alt="icon">
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count-text ">Used car </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="counter">
                        <img src={% static 'frontend/img/icon-10.png' %} alt="icon">
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                    <p class="count-text ">Accident cars</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="counter">
                        <img src={% static 'frontend/img/icon-12.png' %} alt="icon">
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
                    <p class="count-text ">Engine failure cars </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="counter">
                    <img src={% static 'frontend/img/icon-11.png' %} alt="icon">
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
                    <p class="count-text ">Gear failure car</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding-TB-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="big-title">
                        {% if stepone_content %}
                            {% for content in stepone_content %}
                                {% if content.name == 'stepone_section_5' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-multycar bgImage padding-TB-50 textWhite">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-8">
                    <div class="callOut">
                        {% if stepone_content %}
                            {% for content in stepone_content %}
                                {% if content.name == 'stepone_section_6' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 align-items-center d-flex justify-content-center">
                        <button type="button" class="btn btn-primary"> contact Us </button>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-TB-30 textLeftRight">
        <div class="container">
            <div class="row padding-TB-30">
                <div class="col-md-7">
                    <div class="textBox">
                        {% if stepone_content %}
                            {% for content in stepone_content %}
                                {% if content.name == 'stepone_section_7_1' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="imgBox">
                        <img src={% static 'frontend/img/cars.png' %} alt="cars">
                    </div>
                </div>
            </div>

            <div class="row padding-TB-30">
                <div class="col-md-5">
                    <div class="imgBox">
                        <img src={% static 'frontend/img/cars2.png' %} alt="cars">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="textBox">
                        {% if stepone_content %}
                            {% for content in stepone_content %}
                                {% if content.name == 'stepone_section_7_2' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>


            </div>


            <div class="row padding-TB-30">
                <div class="col-md-7">
                    <div class="textBox">
                        {% if stepone_content %}
                            {% for content in stepone_content %}
                                {% if content.name == 'stepone_section_7_3' %}
                                    {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="imgBox">
                        <img src={% static 'frontend/img/cars3.png' %} alt="cars">
                    </div>
                </div>
            </div>


            <div class="row padding-TB-30">
                <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary"> Rate now for free </button>
                </div>
            </div>

        </div>
    </div>

    <div class="padding-TB-50 bg-blueCar bgImage testimonialsWrap">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="big-title">
                            {% if stepone_content %}
                                {% for content in stepone_content %}
                                    {% if content.name == 'stepone_section_8' %}
                                        {% autoescape off %}{{ content.contents }}{% endautoescape %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="testimonial" class="owl-carousel">
                            <div class="item">
                                <div class="blogTestimonial">
                                    <img src="{% static 'frontend/img/test.png' %}" alt="">
                                    <h4>jems lima</h4>
                                    <h5>
                                        Lorem Ipsum is simply dummy text of the.
                                    </h5>
                                    <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of..
                                    </p>
                                </div>
                            </div>

                            <div class="item">
                                <div class="blogTestimonial">
                                    <img src={% static 'frontend/img/test.png' %} alt="">
                                    <h4>jems lima</h4>
                                    <h5>
                                        Lorem Ipsum is simply dummy text of the.
                                    </h5>
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                                    </p>
                                </div>
                            </div>

                            <div class="item">
                                    <div class="blogTestimonial">
                                        <img src={% static 'frontend/img/test.png' %} alt="">
                                        <h4>jems lima</h4>
                                        <h5>
                                            Lorem Ipsum is simply dummy text of the.
                                        </h5>
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                                        </p>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="blogTestimonial">
                                        <img src={% static 'frontend/img/test.png' %} alt="">
                                        <h4>jems lima</h4>
                                        <h5>
                                            Lorem Ipsum is simply dummy text of the.
                                        </h5>
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum...
                                        </p>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% include 'templates/layout/footer.html' %}

{% endblock %}

{% block page_script %}
    <script>
        $(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        });

        function showPosition(position) {
            console.log(position);
            {#x.innerHTML = "Latitude: " + position.coords.latitude + #}
            {#"<br>Longitude: " + position.coords.longitude;#}
        }

        {#    var car_session_data = JSON.parse(`{{ car_session_data }}`.replace(/&#39;/g,'"'));#}
        {#console.log(car_session_data);#}
        {##}
        {#$("#car-model").val(car_session_data['car_model']);#}
        {#$("#car-brand").val(car_session_data['car_brand']);#}
        {#$("#car-year").val(car_session_data['car_year']);#}
        var getPosition = function (options) {
            return new Promise(function (resolve, reject) {
                navigator.geolocation.getCurrentPosition(resolve, reject, options);
            });
        }

        getPosition()
        .then((position) => {
            console.log(position);
        })
        .catch(async (err) => {
            var cities = JSON.parse(`{{ cities }}`.replace(/&quot;/g,'"'));
            var current_city_location = `{{ current_city_location }}`;
            console.log(current_city_location);
            if (current_city_location == 'False'){
                var _html = '<form action="/update_location_city" method="get" id="changeLocation">';
                _html += '<select name="city_id" id="cityInput">';
                _html += '<option value="">Select City</option>';
                for(i=0; i < cities.length; i++){
                    _html += '<option value="'+cities[i].id+'">'+cities[i].name+'</option>';
                }
                _html += '</select>';
                _html += '</form>';
                const {value: formValues} = await Swal.fire({
                    title: 'Enable to get your location!',
                    type: 'warning',
                    html: _html,
                    showCancelButton: true,
                    focusConfirm: false,
                    preConfirm: () => {
                        window.location.replace('/update_location_city/'+document.getElementById('cityInput').value)
                        console.log(document.getElementById('cityInput').value);
                    }
                });
            }
        });

        function getCarModels(carModelId){

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let carModelNode = $(".car-model");
                    var carModels = JSON.parse(this.responseText).wkda;

                    var _html = '<option value="">Modell auswählen</option>';
                    $.map(carModels, function(value, index) {
                        console.log(value, index);
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carModelNode.html(_html);
                    carModelNode.prop("disabled", false);
                }
            };
            xhttp.open("GET", "http://142.93.166.157/getModel.php?brand_id="+carModelId.value, true);
            xhttp.send();
        }

        function getCarYears(carYearId){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var carYearNode = $(".car-year");
                    var carYears = JSON.parse(this.responseText).wkda;
                    var _html = '<option value="">Erstzulassung auswählen</option>';
                    $.map(carYears, function(value, index) {
                        _html += '<option value='+index+'>'+value+'</option>';
                    });
                    carYearNode.html(_html);
                    carYearNode.prop("disabled", false);
                }
            };
            var carBrandId = $(".car-brand").val();
            xhttp.open("GET", "http://142.93.166.157/getYear" +
                ".php?brand_id="+carBrandId+"&model_id="+carYearId.value, true);
            xhttp.send();
        }

        function getBrand() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                let carBrands = JSON.parse(this.responseText).wkda;
                var _html = '<option>Select Car Brand</option>';
                $.map(carBrands, function(value, index) {
                    _html += '<option value='+index+'>'+value+'</option>';
                });
                $(".car-brand").html(_html);
            }
            xhttp.open("GET", "http://142.93.166.157/getBrand.php");
            xhttp.send();
        }

        getBrand();
    </script>
{% endblock %}