{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>Gebrauchtauto-ankauf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="google-site-verification" content="VbMoJKWVBfbmSYlqOCKbRuEVkngWr2CxfFo8X7YRQ9g" />
        <meta name="description" content="{% block metaDescription %} {% endblock metaDescription %}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href={% static 'frontend/res/bootstrap/css/bootstrap.min.css' %} integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link rel="stylesheet" href={% static 'frontend/res/owl-carousel/owl.carousel.css' %}>

        <link rel="stylesheet" href={% static 'frontend/res/owl-carousel/owl.theme.css' %}>

        <link rel="stylesheet" href={% static 'frontend/css/main.css' %}>

    </head>
    <body>
        {% block content %} {% endblock content %} 

        <div class="bg-red text-center copyright whiteText">
            <p>Copyright 2019. All rights reserved</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src={% static 'frontend/res/bootstrap/js/bootstrap.min.js' %} integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src={% static 'frontend/res/owl-carousel/owl.carousel.js' %}></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFuH5XnhvDKLTuhvwZCmUtxFV1sOEhZ_I"></script>

        <script>
            $(document).ready(function() {

                $("#blogpost").owlCarousel({
                    items : 3,
                });
                

            });
        </script>

        {% block page_script %} {% endblock page_script %}
    </body>
</html>