<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="contact-title">
                <h2>CONTACT US</h2>
                <p>
                    It is a long established fact that a reader will be distracted by the readable
                </p>
            </div>
        </div>
    </div>

    <div class="row contact">
        <div class="col-12">
            <div class="form">
                <p class="feelfree"> FEEL FREE TO SEND US A MESSAGE </p>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="last Name">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="youremail">Your Email</label>
                        <input type="email" class="form-control" id="yourEmail" placeholder="Your Email">
                    </div>
                </div>

                <div class="form-group message">
                    <label for="yourMessage">Your Message</label>
                    <textarea class="form-control" id="yourMessage" rows="4" placeholder="Your Message"></textarea>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary">Send Message</button>
                </div>


            </div>
        </div>
    </div>
</div>