{% load staticfiles %}
<div class="bg-black footer padding-TB-30">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footBox one">
                    <img src={% static 'frontend/img/white-logo.png' %} alt="">
                    <p>
                        Duis aute irure reprehend voluptate velit ese acium fugiat nula pariatur exceptus ipsum dolor sit amet consectetur adipisic elita sed eiusmod tempor.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footBox">
                    <h4>Contact Info</h4>
                    <div class="footIconText">
                        <div class="footicon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="foottext">
                            <p>
                                Fairview Ave, </br>
                                El Monte,  </br>
                                CA, 91732
                            </p>
                        </div>
                    </div>

                    <div class="footIconText">
                        <div class="footicon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="foottext">
                            <a href="">
                                0800 000 8293
                            </a>
                        </div>
                    </div>


                    <div class="footIconText">
                        <div class="footicon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="foottext">
                            <a href="#">
                                support@gebrauchtauto.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footBox">
                    <h4>Recent Blog</h4>

                    <div class="footblogpost">
                        <div class="postImg">
                            <img src={% static 'frontend/img/small-blog-1.png' %} alt="blog">
                        </div>
                        <div class="text">
                            <a href="#"> Blue Bottle butcher scenester</a>
                            <p class="date"> December 28, 2015 </p>
                        </div>
                    </div>

                    <div class="footblogpost">
                        <div class="postImg">
                            <img src={% static 'frontend/img/small-blog-2.png' %} alt="blog">
                        </div>
                        <div class="text">
                            <a href="#"> Blue Bottle butcher scenester</a>
                            <p class="date"> December 28, 2015 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>